html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header.main-header {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff;
}

header.main-header ul.header-menu-list li {
  float: left;
  line-height: 61px;
}

header.main-header ul.header-menu-list li img {
  vertical-align: middle;
}

header.main-header .left {
  float: left;
  height: 100%;
}

header.main-header .left > li > a {
  margin-left: 20px;
}

header.main-header .right {
  float: right;
  list-style-type: none;
}

header.main-header .right .header-menu-list {
  float: left;
}

header.main-header .right .header-menu-list.room-list {
  font-size: 14px;
}

header.main-header .right .header-menu-list.auth-list {
  font-size: 12px;
}

header.main-header .right .header-menu-list > li > a {
  display: inline-block;
  height: 100%;
  line-height: 61px;
  padding: 0 0px;
  margin: 0 10px;
  text-decoration: none;
  color: #585858;
}

header.main-header .right .header-menu-list > li:first-child {
  margin-left: 15px;
}

header.main-header .right .header-menu-list > li > a:hover {
  color: #58b5d3;
}

.search-container {
  position: relative;
  height: 678px;
  background-position: center center;
}

.search-container .search-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}

.ThemeSearch {
  width: 100%;
}

.ThemeSearch .ThemeSearch-header {
  text-align: center;
}

.ThemeSearch .ThemeSearch-header .ThemeSearch-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ThemeSearch .ThemeSearch-header .ThemeSearch-subtitle {
  margin-top: 0px;
  font-size: 20px;
}

.ThemeSearch .ThemeSearch-contents {
  width: 990px;
  display: block;
  margin: auto;
  padding-bottom: 150px;
}

.ThemeSearch .ThemeSearch-contents::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.ThemeSearch .ThemeSearch-contents .ThemeSearch-firstRow, .ThemeSearch .ThemeSearch-contents .ThemeSearch-secondRow {
  width: 100%;
}

.ThemeSearch .ThemeSearch-contents .ThemeSearch-firstRow .ThemeSearch-item, .ThemeSearch .ThemeSearch-contents .ThemeSearch-secondRow .ThemeSearch-item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 15px;
  float: left;
  transition: transform .3s ease-in-out;
}

.ThemeSearch .ThemeSearch-contents .ThemeSearch-firstRow .ThemeSearch-item::after, .ThemeSearch .ThemeSearch-contents .ThemeSearch-secondRow .ThemeSearch-item::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.ThemeSearch .ThemeSearch-contents .ThemeSearch-firstRow .ThemeSearch-item .ThemeSearch-mask, .ThemeSearch .ThemeSearch-contents .ThemeSearch-secondRow .ThemeSearch-item .ThemeSearch-mask {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  transition: transform 0.3s ease-in-out;
  opacity: 0.4;
}

.ThemeSearch .ThemeSearch-contents .ThemeSearch-firstRow .ThemeSearch-item .ThemeSearch-text, .ThemeSearch .ThemeSearch-contents .ThemeSearch-secondRow .ThemeSearch-item .ThemeSearch-text {
  position: absolute;
  top: 96px;
  height: 100%;
  width: inherit;
  color: #fff;
  z-index: 1;
  text-align: center;
}

.ThemeSearch .ThemeSearch-contents .ThemeSearch-firstRow .ThemeSearch-item .ThemeSearch-text .ThemeSearch-text-title, .ThemeSearch .ThemeSearch-contents .ThemeSearch-secondRow .ThemeSearch-item .ThemeSearch-text .ThemeSearch-text-title {
  font-size: 24px;
  margin: 0;
}

.ThemeSearch .ThemeSearch-contents .ThemeSearch-firstRow .ThemeSearch-item .ThemeSearch-text .ThemeSearch-text-line, .ThemeSearch .ThemeSearch-contents .ThemeSearch-secondRow .ThemeSearch-item .ThemeSearch-text .ThemeSearch-text-line {
  width: 46px;
  height: 1px;
  background-color: #fff;
  margin: 23px auto;
}

.banner {
  width: 100%;
  height: 100px;
}

.banner .banner-image {
  width: 1000px;
  height: 100px;
  background-repeat: repeat;
  margin: auto;
}
